{% extends "base.html" %}
{% block content %}


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/manage/sdk_manage/">SDK测试平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ user }}</a></li>
                    <li><a href="/logout/">退出</a></li>
                </ul>
{#                <form class="navbar-form navbar-right">#}
{#                    <input type="text" class="form-control" placeholder="Search...">#}
{#                </form>#}
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a class="fab fa-windows" href="/manage/sdk_manage/">&nbsp&nbspWindows平台</a></li>
                    <li class="active"><a class="fab fa-linux" href="">&nbsp&nbspLinux平台</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a class="fab fa-android" href="#">&nbsp&nbspArm-android平台</a></li>
                    <li><a class="fab fa-ubuntu" href="#">&nbsp&nbspArm-Linux平台</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a class="fab fa-apple" href="">&nbsp&nbspArm-ios平台</a></li>
{#                    <li><a class="fas fa-tools" href="">&nbsp&nbsp测试工具</a></li>#}
                </ul>
            </div>


            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2>
                    <span class="fab fa-linux"></span>
                    <span>Linux平台</span>
                </h2><br>
                <div class="alert alert-success" id="prompt" role="alert"
                     style="width: 332px;padding-left: 15px;display: none;margin-left: 400px;">
                    <strong>Well done!</strong> 上传成功!
                </div>
                <div class="alert alert-danger" id="imgprompt" role="alert"
                     style="width: 332px;padding-left: 15px;display: none;margin-left: 400px;">
                    <strong>Oh snap!</strong> 请上传测试图像!
                </div>
                <div class="input-group">

                    <span class="input-group-addon">选择接口</span>
                    <select class="form-control" id="interface">
                        <option value="detector" name="ifname" selected="selected">人脸检测</option>
                        <option value="extractor" name="ifname">特征提取</option>
                        <option value="comparer" name="ifname">1比1比对</option>
                        <option value="searcher" name="ifname">人脸搜索(1:N)</option>
                        <option value="predictor" name="ifname">人脸属性</option>
                        <option value="capturer" name="ifname">人脸抓拍</option>
                        <option value="tracker" name="ifname">人脸跟踪</option>
                        <option value="select_all" name="ifname">全部</option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">算法模型</span>
                    <select class="form-control" id="algversion">
                        <option>gluon 2.3</option>
                        <option selected="selected">gluon 2.5</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">SDK版本</span>
                    <select class="form-control" id="sdkversion">
                        <option>2.0</option>
                        <option selected="selected">2.1.2</option>
                        <option>2.1.5</option>
                        <option>2.2.0</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">测试图像</span>
                    <form action="/manage/upload/" method="post" enctype="application/x-www-form-urlencoded">
                        <input id="File1" class="form-control" name="fileupload" accept="image/png, image/jpeg"
                               multiple="multiple" type="file" value=""/>
                    </form>
                </div>
                <p id="comparerId"
                   style="color:#8B8989;font-size: 13px;margin-left: 20px;margin-top: 5px;display: none">
                    说明：1比1测试时，请同时上传2张图片</p>
                <br>
                <div style="width: 100%; height: 60px;">
                    <button type="button" class="btn btn-success" id="send" style="float: right;margin-right: 10px;">
                        <i class="el-icon-loading" id="runing" style="display: none"></i> 运行测试
                    </button>
                </div>
                {#                加载样式#}
                <div id="loading" class="spinner" style="display: none">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>

                <div>
                    <p class="btn btn-warning">返回结果</p>
                    <textarea id="result" class="form-control" rows="15" name=textarea></textarea>
                    <button id="clear_result">清空</button>
                </div>

                </form>

            </div>


        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        $("#clear_result").click(function () {
            $("#result").val('');
        });
        $(document).ready(function () {
            $("#send").click(function () {
                $("#prompt").hide();
                if ($("#File1").val() === "") {
                    $("#imgprompt").show();
                    return false;
                }
                //点击完运行测试按钮，置灰按钮，不允许重复发送
                $(this).attr('disabled', true);
                $(this).attr('title', "请稍后，后台正在处理中");
                $("#runing").show();
                $("#imgprompt").hide();
                $("#loading").show();
                $("#prompt").hide();
                $("#result").val('');
                let sdk_interface = $('option[name="ifname"]:selected').val();
                let algversion = $('#algversion').val();
                let sdkversion = $("#sdkversion").val();

                let allimg = document.getElementById("File1").files;
                let testimg = "";
                for (let i = 0; i < allimg.length; i++) {
                    testimg += allimg[i].name + ","
                }

                var form_data = new FormData();
                var file_info = $('#File1')[0].files;

                for (var i = 0; i < file_info.length; i++) {
                    form_data.append('file', file_info[i]);
                }
                $.ajax({
                    url: '/manage/linupload/',
                    type: 'POST',
                    data: form_data,
                    processData: false,
                    contentType: false,
                    success: function (callback) {
                        if(callback == "success") {
                        $.post("/manage/linsdk_test/", {
                            "interface": sdk_interface,
                            "algversion": algversion,
                            "sdkversion": sdkversion,
                            "testimg": testimg,
                        }, function (resp) {
                            $("#result").val(resp);
                            $("#prompt").html("<strong>Well done!</strong> 测试成功，请在返回结果栏查看！");
                            $("#prompt").show();
                            $("#loading").hide();
                            $("#runing").hide();

                            //运行结束启用上传和测试按钮
                            $("#send").attr('disabled', false);
                            $("#send").removeAttr("title");
                            document.getElementById("File1").value = ''
                        });
                    }
                    }
                });
            });
        });

        //上传图像
        /*function FileUpload() {
            var form_data = new FormData();
            var file_info = $('#File1')[0].files;

            for (var i = 0; i < file_info.length; i++) {
                form_data.append('file', file_info[i]);
            }
            $.ajax({
                url: '/manage/linupload/',
                type: 'POST',
                data: form_data,
                processData: false,
                contentType: false,
                success: function (callback) {
                    if(callback == "success") {
                    alert(callback)
                }
                }
            });

        }*/

        // 1比1测试时，提示
        var obj_select = document.getElementById("interface");
        var obj_div = document.getElementById("comparerId");
        obj_select.onchange = function () {
            obj_div.style.display = this.value == "comparer" ? "block" : "none";
        }

    </script>
{% endblock %}
