{% extends "base.html" %}
{% block content %}


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/manage/sdk_manage/">SDK测试平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ user }}</a></li>
                    <li><a href="/logout/">退出</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Windows平台</a></li>
                    <li><a href="/manage/linsdk_manage/">Linux平台</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/interface/case_manage/">Arm-android平台</a></li>
                    <li><a href="">Arm-Linux平台</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Arm-ios平台</a></li>
                    <li><a href="">测试工具</a></li>
                </ul>
            </div>



            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1><span class="label label-primary">Windows平台</span></h1><br>
                <div class="alert alert-success" id="prompt" role="alert" style="width: 332px;padding-left: 15px;display: none;margin-left: 400px;">
                    <strong>Well done!</strong> 上传成功!
                </div>
                <div class="alert alert-danger" id="imgprompt" role="alert" style="width: 332px;padding-left: 15px;display: none;margin-left: 400px;">
                    <strong>Oh snap!</strong> 请上传测试图像!
                </div>
                <div class="input-group">

                    <span class="input-group-addon">选择接口</span>
                    <select class="form-control" id="interface">
                        <option name="detect">人脸检测</option>
                        <option name="extractor">特征提取</option>
                        <option name="compare">1比1比对</option>
                        <option name="search">人脸搜索(1:N)</option>
                        <option name="predictor">人脸属性</option>
                        <option name="capturer">人脸抓拍</option>
                        <option name="tracker">人脸跟踪</option>
                        <option name="all">全部</option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">算法模型</span>
                    <select class="form-control" id="algversion">
                        <option>0.10</option>
                        <option>0.20</option>
                        <option>0.30</option>
                        <option>0.40</option>
                        <option>0.50</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">SDK版本</span>
                    <select class="form-control" id="sdkversion">
                        <option>2.0</option>
                        <option>2.1.2</option>
                        <option>2.1.5</option>
                        <option>2.1.7</option>
                        <option>2.1.9</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">测试图像</span>
                    <input type="file" class="form-control" id="file_upload">
                </div>

                <br>
                <div style="width: 100%; height: 60px;">
                    <button type="button" class="btn btn-success" id="send" style="float: right;margin-right: 10px;">
                        运行测试
                        <i class="el-icon-loading"></i>
                    </button>
                     <button type="button" class="btn btn-success" id="upload" style="float: right;margin-right: 10px;"onclick="FileUpload()">
                        上传
                    </button>
                </div>
{#                加载样式#}
                <div id="loading" class="spinner" style="display: none">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>

                <div>
                    <p class="btn btn-warning">返回结果</p>
                    <textarea id="result" class="form-control" rows="15" name=textarea></textarea>
                    <button id="clear_result">清空</button>
                </div>

                </form>

            </div>



        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        $("#clear_result").click(function () {
            $("#result").val('');
        });
        $(document).ready(function () {
            $("#send").click(function () {

                //点击完运行测试按钮，置灰按钮，不允许重复发送
                $(this).attr('disabled', true);
                $("#upload").attr('disabled', true);
                $(this).attr('title', "请稍后，后台正在处理中");
                $("#upload").attr('title', "请稍后，后台正在处理中");


                $("#imgprompt").hide();
                $("#loading").show();
                $("#prompt").hide();
                $("#result").val('');
                let sdk_interface = $("#interface").val();
                let algversion = $('#algversion').val();
                let sdkversion = $("#sdkversion").val();

                $.post("/manage/sdk_test/", {
                    "interface": sdk_interface,
                    "algversion": algversion,
                    "sdkversion": sdkversion
                }, function (resp) {
                    $("#result").val(resp);
                    $("#prompt").html("<strong>Well done!</strong> 测试成功，请在返回结果栏查看！");
                    $("#prompt").show();
                    $("#loading").hide();

                    //运行结束启用上传和测试按钮
                    $("#send").attr('disabled', false);
                    $("#upload").attr('disabled', false);
                    $("#send").removeAttr("title");
                    $("#upload").removeAttr("title");
                });

            });

        });
            //上传图像
            function FileUpload() {
                $("#prompt").hide();
                if ($("#file_upload").val() === ""){
                    $("#imgprompt").show();
                    return false;
                }
            $("#imgprompt").hide();
            $("#loading").show();
            var form_data = new FormData();
            var file_info =$('#file_upload')[0].files[0];
            form_data.append('file',file_info);

            $.ajax({
                url:'/manage/upload/',
                type:'POST',
                data: form_data,
                processData: false,
                contentType: false,
                success: function(callback) {
                    console.log('ok');
                     $("#loading").hide();
                    $("#prompt").show();
                }
            });
        }

    </script>
{% endblock %}
